@font-face {
  font-family: 'font';
  src: url(../Merienda-VariableFont_wght.ttf);
}
@font-face {
  font-family: 'font2';
  src: url(../helo.ttf);
}
@font-face {
  font-family: 'font3';
  src: url(../Vollkorn-Italic-VariableFont_wght.ttf);
}

.header{
  width: 100%;
  height: 100vh;
  background: url('../img/togo.jpg') no-repeat;
  background-size: cover;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
}
.navbar{
  width: 90%;
  height: 60px;
  background: rgba(0, 0, 0, 0.487);
  display: flex;
  align-items: center;
  border-radius: 30px;
  justify-content: space-between;
}
a{
  text-decoration: none;
}
.logo img{
  width: 50px;
}
.nav-link{
  width: 35%;
  display: flex;
  justify-content: space-evenly;
}
.nav-link a{
  color: white;
  font-size: 18px;
  transition: 0.3s;
  padding: 5px 12px;
  border-radius: 20px;
  font-family: 'font';
}
.nav-link a:hover{
  letter-spacing: 2px;
  transform: translateY(-5px);
  background: linear-gradient(50deg, rgba(188, 173, 173, 0.776),rgba(173, 148, 148, 0.253));
}
.container{
  width: 60%;
  height: 80%;
  display: flex;
  flex-flow: column;
  align-items: center;
  color: white;
  background: linear-gradient(50deg, rgba(24, 24, 24, 0.776),rgba(173, 148, 148, 0.253));
  border-radius: 5%;
}
.container h1{ font-size: 4rem; font-family: 'font';}
.container p{ 
  font-size: 2.3rem;
  line-height: 55px;
  text-align: center;
  margin-top: -10px; 
}
.container-link{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-self: flex-end;
  justify-self: flex-end;
  align-items: center;
  margin-top: -20px;
}
.container-link a{
  padding: 8px 22px;
  border-radius: 35px;
  font-size: 20px;
  color: white;
  text-align: center;
  background: linear-gradient(50deg, #202a25,#4d6358d0);
  transition: .5s;
  font-family: 'font3';
  letter-spacing: 2px;
  cursor: not-allowed;
}
.container-link a:nth-child(2){
  background: transparent;
  border: 2px solid; 
}
.container-link a:hover{
  background: #202a25;
  border: 2px solid transparent;
  letter-spacing: 4px;
}
.product{
  width: 100%;
  height: 500px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-evenly;
  background: linear-gradient(50deg, rgba(0, 0, 0, 0.242), rgba(0, 0, 0, 0.247)), url(../img/product.jpg) no-repeat center;
  background-size: cover;
  color: white;
}
.product h2{
  font-size: 2rem;
  text-decoration: underline;
}
.product p{
  width: 70%;
  text-align: center;
  font-size: 2rem;
  line-height: 40px;
}


